@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Francois+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%; 
  box-sizing: border-box;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0px;
}

.header {
  height: 80px;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #000;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
  font-family: 'Inter';
  font-weight: 650;
}

.navLeft,
.navRight {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.logo {
  position: relative;
  height: 80px;
  
  object-fit: contain;
  
  image-rendering: auto;
  
}

.navbar>.logo {
  flex: 1;
  
  text-align: center;
  
}

.navLeft,
.navRight {
  flex: 1;
  
  justify-content: flex-start;
  
}

.navRight {
  justify-content: flex-end;
  
}


.navLink {
  cursor: pointer;
}

.first {
  display: flex;
  
  align-items: center;
  
  justify-content: space-between;
  
  gap: 20px;
  
  padding: 40px;
  
}

.contentLeft {
  flex: 1;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  gap: 20px;
  
}
.italic {
  font-style: italic; 
}

.titlefirst {
  font-family: 'Times New Roman';
  font-size: 50px;
  
  line-height: 1.4;
  
  font-weight: 500;
  
  color: #000;
  
}

.shopButton {
  font-family: 'Inter';
  padding: 10px 20px;
  width: 200px;
  
  background-color: #000;
  
  color: #fff;
  
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.shopButton:hover {
  background-color: #444;
  
}

.contentRight {
  margin-bottom: -40px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imageWrapper {
  margin-top: -50px;
  margin-right: -25px;
  position: relative;
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.1);
}

.image {
  width: 50vw; 
  height: auto; 
  object-fit: cover;
  border-left: 2px solid rgba(0, 0, 0, 0.1); 
}

.bestSellers {
  margin-bottom: 40px;
}

.titletwo {
  font-family: 'Newsreader';
  padding: 40px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}


.productGridWrapper {
  margin-left: 35px;
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  padding-bottom: 10px;
}


.productGridWrapper::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px; 
  height: 10px; 
}

.productGridWrapper::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 10px; 
}

.productGridWrapper::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px; 
}

.productGridWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #333; 
}


.productGridWrapper {
  scrollbar-width: thin; 
  scrollbar-color: black transparent; 
}


.productGrid {
  display: flex; 
  flex-wrap: nowrap; 
  min-width: max-content; 
}

.productCard {
  text-align: center;
  background-color: white;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 270px; 
  margin-right: 10px; 
}

.productImageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.productImage {
  padding: 0px;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.productInfo {
  padding: 5px;
}

.productTitle {
  font-size: 16px;
  font-weight: bold;
}

.productPrice {
  font-size: 14px;
  color: #888;
}


.brandValues {
  text-align: center;
  height: 500px;
  margin-bottom: 0px;
  background-image: url('../img/model8.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 50px 0; 
}

.sectionTitle {
  margin-top: -10px;
  font-family: 'Newsreader';
  font-size: 70px;
  width: 430px;
  height: 430px;
  font-weight: 400;
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  border: 2px solid #fff; 
  display: inline-block;
  padding: 100px 60px; 
  line-height: 1.0; 
  margin-left: -800px; 
}

.shopText {
  margin-left: -800px;
  margin-top: -100px;
  font-family: 'Arial';
  font-size: 20px;
  color: #fff;
  text-decoration: underline; 
  font-weight: 400;
  cursor: pointer; 
}
.brandDescription {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff; 
}

.brandGrid {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 20px;
}

.brandItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000; 
  height: 55px; 
  overflow: hidden; 
  background-color: #000; 
}

.brandCaption {
  font-weight: 500;
  font-family: 'Inter';
  font-size: 14px;
  color: #fff;
  line-height: 80px; 
  white-space: nowrap; 
  display: inline-block; 
  animation: scrollText 33s linear infinite; 
  padding-right: 30px; 
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.shopTheLook {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.topSection,
.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageWrapper2 {
  flex: 1;
}
.imageWrapper3 {
  flex: 1;
}

.mainImage {
  max-width: 50vw; 
  height: auto; 
  object-fit: cover; 
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.secondaryImage {
  margin-top: -50px;
  max-width: 50vw; 
  height: auto;
  object-fit: cover;
  margin-right: 0px;
  border-left: 2px solid rgba(0, 0, 0, 0.1); 
}

.content {
  margin-left: 0px;
  flex: 1;
  padding-left: 20px;
}

.titlebottom{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Newsreader';
}
.titlebottom2{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Newsreader';
}
.subTitle {
  font-family: 'Inter';
  font-size: 28px;
  font-weight: bold;
  margin-top: -0px;
  margin-bottom: 0px;
}

.productGridBottom {
  display: flex; 
  gap: 20px;
  overflow-x: auto; 
  padding: 10px 0; 
  scroll-snap-type: x mandatory; 
}

.productCardBottom {
  flex: 0 0 200px; 
  max-width: 200px; 
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  scroll-snap-align: start; 
}


.productImageBottom {
  width: 100%; 
  max-height: 200px; 
  object-fit: contain; 
  margin-bottom: 10px;
}

.productTitleBottom {
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.productPriceBottom {
  margin-bottom: 10px;
  font-family: 'Inter';
  font-size: 14px;
  color: #555;
}

.addToCartBottom {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.productGridBottom::-webkit-scrollbar {
  height: 8px; 
}

.productGridBottom::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.9); 
  border-radius: 10px;
}

.productGridBottom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
.textContent {
  margin-left: 40px;
  flex: 1;
  padding-right: 20px;
}

.description {
  color: #000;
  margin: 20px 0;
  font-size: 16px;
  font-family: 'Inter';
}

.readMore {
  width: 150px;
  background-color: #000;
  font-family: 'Inter';
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0px;
}
